<div *ngIf="!checkIfAdmin()">
  <div class="col-md-12">
    <h1>User Profile Page</h1>

    <h1>{{ user.username }}</h1>

    <h3>Getting Started</h3>
    <hr />
    <div id="gettingStartedTemplateDiv">
      <ul class="list-group">
        <!-- uncomment code before once we get the list of getting started templates-->
        <div *ngFor="let template of user.templates">
          <li>{{ template.name }}</li>
        </div>
      </ul>
    </div>

    <h3>My Templates</h3>
    <hr />
    <div id="myTemplateDiv">
      <ul class="list-group">
        <!-- uncomment code before once we get the list of user's templates-->
        <!-- <li *ngFor="let template of templates">{{template.name}}</li> -->
        <div *ngFor="let template of user.templates">
          <li>{{ template.name }}</li>
        </div>
      </ul>
    </div>

    <h3>Favorite Templates</h3>
    <hr />
    <div id="favTemplateDiv">
      <ul class="list-group">
        <!-- uncomment code before once we get the list of user's favorite templates-->
        <!-- <li *ngFor="let template of templates">{{template.name}}</li> -->
        <div *ngFor="let template of user.templates">
          <!-- empty unless a user has favorite templates -->
          <li>{{ template.name }}</li>
        </div>
      </ul>
    </div>

    <!-- <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h3 class="card-text">With supporting text below as a natural lead-in to additional content.</h3>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <h3 class="card-text">With supporting text below as a natural lead-in to additional content.</h3>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> -->
  </div>
</div>
<div *ngIf="checkIfAdmin()"></div>
