<div id="tiptop">
  <div id="fwa">Frame Work Automation</div>
</div>
<app-navigation></app-navigation>
<div id="mainBody" class="row">
  <!-- not sure if we want the nav bar -->
  <!-- <app-side-nav-bar class="col-sm-2"></app-side-nav-bar> -->

  <section id="section1">
    <div class="skewedPeice">
      <div id="bigText" class=" text-center text-lg-left">
        <h1>Easy and Free Online Template Generator</h1>
        <h4>
          <strong>100% Open Source</strong> framework automation library with
          ready to use templates.
        </h4>
        <a href="#/results" class="cta-button top"
          >Build or Upload My Template</a
        >
      </div>
    </div>

    <div id="bottomBanner" class="container-fluid">
      <div class="container row">
        <div id="firstContainer" class="col-md-4">
          <h2>99.5</h2>
          <h3>Percent</h3>
          <p>Open Source</p>
        </div>
        <div id="secondContainer" class="col-md-4">
          <h2>3.7</h2>
          <h3>Times Faster</h3>
          <p>Than raw typing</p>
        </div>
        <div id="thirdContainer" class="col-md-4">
          <h2>#1</h2>
          <h3>SD Project</h3>
          <p>According to an in house poll</p>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <router-outlet></router-outlet> -->
