<div id="tiptop">
  <div id="fwa">Frame Work Automation</div>
</div>
<app-navigation></app-navigation>
<div id="mainBody" class="row">
  <!-- not sure if we want the nav bar -->
  <!-- <app-side-nav-bar class="col-sm-2"></app-side-nav-bar> -->

  <div class="col-sm-12">

    <!-- main section -->
    <section id="mainSection" class="container-fluid row">
      <div class="col-sm-1"></div>
      <div id="bigText" class="col-sm-4 text-center text-lg-left">
        <h1>Easy and Free <br> Online Template <br>Generator</h1>
        <h4><strong>1.5+ Million employers</strong> use Indeed to search for their <br>next great hire.
          Add your resume to Indeed so these <br>employers can find you.</h4>
          <a href="" class="cta-button top">Build or Upload My Template</a>
      </div>
      <div id="bigImages" class="col-sm-6">
        <img src="https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="" srcset="">
      </div>
    </section>


    <!-- radiant banner -->
    <div id="bigRadiantDiv" class="container-fluid">
      <div class="container row">
        <div id="firstContainer" class="col-md-4">
          <h2>1.5 +</h2>
          <h3>Milion</h3>
          <p>Companies search for resume</p>
        </div>
        <div id="secondContainer" class="col-md-4">
          <h2>9.8</h2>
          <h3>Jobs / second</h3>
          <p>Companies search for resume</p>
        </div>
        <div id="thirdContainer"class="col-md-4">
          <h2>#1</h2>
          <h3>Milion</h3>
          <p>Companies search for resume</p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <router-outlet></router-outlet> -->
