<H1>{{template.name}}</H1>
<div class="row">
  <div class="col-sm-2">
    <h5>Key Bindings</h5>
   <div>ctrl-d: add capture to selected</div>

  </div>
  <div class="col-sm-6">
    <app-text-editor class="" (keyup)="refreshTemplate()" ></app-text-editor>
    <span>{{uptoDate}}</span>
  </div>
  <div class="col-sm-4 row">
    <div class="col-sm-4">
      <h4>Form Fields</h4>
    <div *ngFor="let formField of getKeys()">
      {{formField}}
    </div>
  </div>
  <div class="col-sm-4">
    <h4>Captures</h4>
  <div *ngFor="let capturedFieldName of capturedFieldNames">
    {{capturedFieldName.findId}}
  </div>
</div>
    <div class="col-sm-4">
      <h4>SubTemplates</h4>
    <div *ngFor="let subtemplate of template.subTemplates">
      {{subtemplate.name}}
    </div>
  </div>



  </div>
</div>


