.main-container{
/* background-color: #eee; */
background-image: linear-gradient(to bottom, rgba(85, 85, 85, 1), rgba(8, 34, 57, 1));
/* background: linear-gradient(to right, rgba(83,160,253,1) 0%, rgba(7, 27, 91,.8) 100%); */
height: 100vh;
}
.form-prompt{
  color: #000;
}
.form-section{
  height: 100vh;
  overflow: scroll;
  display: block;
}
.field-form{
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #000;
  height: 100%;
}

div{
  margin: 0;
  padding: 0;
  color: white;
}

.form-entry{
  padding: 10px;
  padding-top: 0;
}


.te-tab{
  height: 30px;
  background-color: #400;
  text-align: center;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  font-size: small;
}
.te-tab:hover{
  background-color: #555;

}


.editor-backdrop{
  background-color: #3330;
}

.editor-navigator{
  background-color: #3330;
  border-left: 3px solid #555;
}
.editor-navigator-title{

  color: #bbb;
  height: 30px;
  padding: 3px;
  padding-left: 10px;
}

.text-editor-section{
  height: 100vh;
  overflow:scroll;
  border: none;
  margin: 0;

}
.editor-nav-content{
  padding-left: 50px;
  color: #bbb;
}
.editor-nav-content:hover{
  color: #ddd;
  background-color: #5555;
}
.editor-nav-header{
color: #bbb;
padding-left: 30px;

}
.editor-nav-header:hover{
  color: #ddd;
  background-color: #5555;

  }


.file-title-div{
  width: 100%;
  height: 20px;
  background-color: #3330;
}

/* .editor-top-spacing{
width: 100%;
height: 8px;
background-color: #333;
} */


.menu-button{
  position: fixed;
  transition: 1s;
  top:-10px;
  width: 45px;
  height: 70px;
  right:7vw;
  z-index: 20;
  background-color:#fff;
  padding-top: 30px;
  box-shadow: 2px 2px 5px rgb(120, 240, 156);
}
.menu-button:hover{

  top: 0;
}

.menu-button div{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: auto;
    margin-top: 6px;
}

.slider{
  position: fixed;
  top:-100vh;
  height: 100vh;
  width: 25vw;

  z-index: 100;
}
.active{
  top: 0;
}
/* .home-slider{
  transition: 1.4s;
  top:0vh;
  background: linear-gradient(to bottom left, rgb(83,160,253) 0%, rgb(7, 27,100) 100%);

}
.register-slider{
  transition: 1.5s;
  top:25vh;
  background: linear-gradient(to bottom left, rgb(120, 240, 156) 0%, rgb(4, 61, 30) 100%);
}
.search-slider{
  transition: 1.6s;
  top:50vh;
  background: linear-gradient(to bottom left, rgb(245, 142, 245) 0%, rgb(143, 7, 113) 100%);
}
.create-slider{
  transition: 1.7s;
  top:75vh;
  background: linear-gradient(to bottom left, rgb(250, 253, 83) 0%, rgb(182, 100, 7) 100%);
} */

.home-slider{
  transition: .3s;
  left:0vw;
  background: linear-gradient(to bottom left, rgb(83,160,253) 0%, rgb(7, 27,100) 100%);

}
.register-slider{
  transition: .7s;
  left:25vw;
  background: linear-gradient(to bottom left, rgb(120, 240, 156) 0%, rgb(4, 61, 30) 100%);
}
.search-slider{
  transition: .6s;
  left:50vw;
  background: linear-gradient(to bottom left, rgb(245, 142, 245) 0%, rgb(143, 7, 113) 100%);
}
.create-slider{
  transition: 0.4s;
  left:75vw;
  background: linear-gradient(to bottom left, rgb(250, 253, 83) 0%, rgb(182, 100, 7) 100%);
}
