<div class="main-container">
  <div class="row">
    <div class="col-sm-5">
      <section class="form-section page-section">
        <div *ngIf="currentSideEditorPage == 0">
          <form #fieldForm="ngForm" class="field-form">
            <div class = row>
              <h3 class="form-prompt">Enter Data:</h3>

              <button
                *ngIf="!getMyRating()"
                (click)="addLike(template.id)"
                type="button"
                class="btn btn-outline-info"
              >
                Like
              </button>

              <button
                *ngIf="getMyRating()"
                (click)="addLike(template.id)"
                type="button"
                class="btn btn-outline-info"
              >
                Unlike
              </button>
            </div>
            <div class="row">
              <div
                class="form-group col-sm-6"
                *ngFor="let key of getKeys(); let i = index"
              >
                <div class="form-entry">
                  <label for="key" class="form-prompt">
                    {{ key | form }}
                  </label>
                  <input
                    class="form-control"
                    type="text"
                    [name]="key"
                    placeholder="{{ formPlaceholders[key] }}"
                    [(ngModel)]="formMap[key]"
                    (keyup)="assembleFullContent()"
                  />
                </div>
              </div>
            </div>
            <div *ngFor="let key of getAddButtons()">
              <input
                type="button"
                class="btn btn-primary"
                value="Add {{ key | form }}"
                (click)="addField(key)"
              />
            </div>
          </form>
        </div>
        <div *ngIf="currentSideEditorPage == 1">
          <div class="option-window-title">
            Description:
          </div>
          <div class="option-window-content">
            <pre style="color: aliceblue;" name="qwe">{{template.description}}</pre>
          </div>
        </div>
        <div *ngIf="currentSideEditorPage == 2">
          <div class="option-window-title">
            Instructions:
          </div>
          <div class="option-window-content">
            <pre style="color: aliceblue;" name="qwe">{{template.instructions}}</pre>
          </div>
        </div>
      </section>
    </div>
    <div class="col-sm-7">
      <section class="text-editor-section page-section row">
        <div class="editor-top-spacing"></div>
        <div class="editor-navigator col-sm-3">
          <div class="editor-navigator-title">Templates</div>
          <div class="accordion">
            <button *ngIf="isMine()" (click)="gotoCP()" style="width:100%;background-color: rgb(45, 157, 255); border-color: #0000;" >Edit</button>
            <div>
              <div
                class="editor-nav-header"
                data-toggle="collapse"
                data-target="#collapseZero"
                aria-expanded="true"
                aria-controls="collapseZero"
              >
              Options
              </div>
              <div
                id="collapseZero"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  <div class="editor-nav-content" (click)="showForm()">Form</div>
                  <div class="editor-nav-content" (click)="showDesciption()">Description</div>
                  <div class="editor-nav-content" (click)="showInstructions()">Instructions</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="editor-backdrop col-sm-9">
          <div class="row">
            <div class="te-tab col-sm-12">{{template.name}}</div>
          </div>
          <div class="file-title-div"></div>
          <div class="text-editor-div">
            <app-text-editor></app-text-editor>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
