#mainBody {
  overflow-x: hidden;
}
input:focus {
  background-color: transparent;
  outline: none;
  border: none;
  outline-width: 0px;
  outline-color: transparent;
}

input:active {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  border: none;
  outline-width: 0px;
  outline-color: transparent;
}

textarea:focus {
  outline: none;
  outline-color: transparent;
}

select:focus {
  outline: none;
  outline-color: transparent;
}

input {
  background-color: transparent;
  border: 0px;
  outline: none;
  outline-color: transparent;
}

img {
  height: 100%;
  width: 100%;
  opacity: 95%;
}
a {
  text-decoration: none;
  color: #085ff7;
}

.inputClass {
  font-family: SoDoSans, sans-serif;
  background-color: transparent;
  border: transparent;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 0.1;
  letter-spacing: -0.01em;
  padding: 1px 0 6px;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "calt";
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  outline-color: transparent;
}

#leftColumn {
  height: 100vh;
  border-right: none 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 4px 4px rgba(0, 0, 0, 0.12);
}

#rightColumn {
  height: 100vh;
  background: linear-gradient(
    to right,
    rgb(230, 230, 230) 0%,
    rgb(204, 204, 206) 100%
  );
}

#middleColumn {
  margin-top: 1vh;
}

h1 {
  font-family: sans-serif;
  font-size: xx-large;
  text-align: left;
}

#logo {
  margin-top: 2.4em;
  margin-bottom: 2.4em;
  margin-left: 2.4em;
}

#lowerLeft {
  display: flex;
}
#createAccountBox {
  margin-top: 15em;
  margin-left: 2.4em;
  padding-bottom: 2.4em;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* input {
  -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: transparent;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px;
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
} */

.submit-btn {
  width: 400px;
  background-color: #085ff7;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  border-radius: 5px;
}

/* .submit-btn, .submit-btn:hover, .submit-btn:active {
  width: 400px;
  background-color: #085ff7;
  text-decoration: none;
  font-family: sans-serif;
  color: #fff;
  border-radius: 5px;
} */
