<div id="mainBody" class="row h-100">
  <div id="leftColumn" class="col-sm-4">
    <!-- <img
      src="https://images.unsplash.com/photo-1565313842307-7ef5f013b669?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
      alt=""
    /> -->
    <!-- <div id="logo">
      <h1><a href="#/home">Frame Work Automation</a></h1>
    </div> -->
    <div id="lowerLeft">
      <!-- <div id="createAccountBox">
        <h3>Create Account</h3>
      </div> -->
    </div>
  </div>

  <div id="rightColumn" class="col-sm-8 row " *ngIf="!checkIfAdmin()">
    <div class="col-sm-4"></div>
    <div id="middleColumn" class="col-sm-4 fluid-container">
      <div id="logo">
        <h1><a href="#/home">Frame Work Automation</a></h1>
      </div>
      <form>
        <div class="form">
          <div class="form-group row">
            <h2>Personal Information</h2>
          </div>

          <div class="form-group row inputClass col-xs-2">
            <label class="email-text">Email</label>
            <input
              type="text"
              class="email-slot form-control"
              name="email"
              [(ngModel)]="user.email"
            />
          </div>
          <div class="form-group row inputClass col-xs-2">
            <label class="email-text">Organization Name</label>
            <input
              type="text"
              class="form-control"
              name="organizationName"
              [(ngModel)]="user.organizationName"
            />
          </div>

          <br />
          <div class="form-row">
            <input
              type="submit"
              class="submit-btn"
              name="submit"
              value="Update Account"
              (click)="updateUser()"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div id="rightColumn" class="col-sm-8 row " *ngIf="checkIfAdmin()">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>User</th>
          <th>Status</th>
        </tr>
      </thead>
      <tr *ngFor="let user of users">
        <td *ngIf="user.role != 'admin'">{{ user.username }}</td>
        <td *ngIf="user.role != 'admin'">
          <label class="switch">
            <input
              type="checkbox"
              [(ngModel)]="user.enabled"
              (click)="changeUserStatus(user)"
            />
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- <div class="row justify-content-md-center">
  <div class="col-md-6">

    <form #registerForm="ngForm">
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-4 col-form-label"
          >Username</label
        >
        <div class="col-sm-6">
          <input
            type="email"
            class="form-control"
            id="colFormLabel"
            placeholder="Username"
            name="username"
            ngModel
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-6">
          <input
            type="email"
            class="form-control"
            id="colFormLabel"
            placeholder="Email"
            name="email"
            ngModel
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="colFormLabel" class="col-sm-4 col-form-label"
          >Password</label
        >
        <div class="col-sm-6">
          <input
            type="password"
            class="form-control"
            id="colFormLabel"
            placeholder="Password"
            name="password"
            ngModel
          />
        </div>
      </div>

      <div class="form-row col-sm-6">
        <input
          type="submit"
          class="submit-btn"
          name="submit"
          value="Submit"
          (click)="register(registerForm)"
        />
      </div>
    </form>
  </div>
</div> -->

<!-- <form #registerForm = "ngForm">
        <div class="form">
        <div class="form-group row">
          <label class="username-text">Username</label>
          <input type="text" class="username-slot form-control" name="username" ngModel>
        </div>

        <div class="form-group mb-2 row">
          <label class="email-text">Email</label>
          <input type="text" class="email-slot form-control" name="email" ngModel>
        </div>

        <div class="form-group mb-2 row">
          <label class="password-text">Password</label>
          <input type="text" class="password-slot form-control" name="password" ngModel>
        </div>

        <div class="form-group mb-2 row">
          <label class="confirm-text">Confirm password</label><input type="text" class="confirm-slot form-control" name="password" ngModel> <br>
        </div>

        <div class="form-row">
        <input type="submit" class="submit-btn" name="submit" value="Submit" (click) = "register(registerForm)">
        </div>
      </div>
      </form>
  </div>
</div> -->
