
input:focus {
  background-color: transparent;
  outline: none;
  border: none;
}

input:active {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  border: none;

}
img {
height: 100%;
width: 100%;
opacity: 95%;
}
a {
  text-decoration: none;
}

.inputClass{

    background-color: transparent;
    border: transparent;
    border-radius: 0;
    color: rgba(0,0,0,.9);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 10px;
    line-height: 1rem;
    padding: 32px 0 6px;
  border-bottom: 1px solid rgba(0,0,0, .2);
}

 #leftColumn{
  height: 100vh;
  border-right: none 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,.24), 0 4px 4px rgba(0,0,0,.12);

}

#rightColumn{
  height: 100vh;
  background: linear-gradient(to right, rgb(230, 230, 230) 0%, rgb(204, 204, 206) 100%);

}

#middleColumn{
  margin-top: 12vh;
}

#logo {
  margin-top: 2.4em;
  margin-bottom: 2.4em;
  margin-left: 2.4em;
}

#lowerLeft {
  display: flex;

}
#createAccountBox {
  margin-top: 15em;
  margin-left: 2.4em;
  padding-bottom: 2.4em;
}

/* input {
  -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: transparent;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px;
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
} */

input{
  background-color: transparent;
  border: 0px;
}


