

<span class="page-header">Account Creation</span>
<div class="form">
<form #registerForm = "ngForm">
  <span class="username-text">Username</span><input type="text" class="username-slot form-control" name="username" ngModel> <br>
  <span class="email-text">Email</span><input type="text" class="email-slot form-control" name="email" ngModel> <br>
  <span class="password-text">Password</span><input type="text" class="password-slot form-control" name="password" ngModel> <br>
  <span class="confirm-text">Confirm password</span><input type="text" class="confirm-slot form-control" name="password" ngModel> <br>
  <input type="submit" class="submit-btn" name="submit" value="Submit" (click) = "register(registerForm)">
</form>
</div>
