header {
  margin: auto;
}

hr {
  border-top: 5px solid rgba(0, 0, 0, 1);
}

body {
  background-color: #005580;
  height: 100vh;
}

h1 {
  margin: auto;
  color: #e6b800;
  font-size: 50px;
  display: block;
  text-align: center;
  font-family: Cutive Mono, monospace, Helvetica, sans-serif;
  font-weight: 900;
}

.form-control {
  width: 30%;
  margin: auto;
  background-color: white;
  opacity: 0.8;
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: transparent;
}

.no-outline:focus {
  outline: none;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-radius: 0px;
  color: white;
  font-size: 80px;

}

::placeholder {
  color: white;
}

input:focus {
  border-bottom: 4px solid white;
  box-shadow: 0 1px 0 0 black;
}

.md-form {
  background-color: transparent;
}

.row {
  /* margin: auto; */
  position: fixed;
  /* padding-top: 20px; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -5;
  overflow: scroll;
  background-image: linear-gradient(
      to bottom,
      rgba(40, 40, 40, 0.1),
      rgba(40, 40, 40, 1)
    ),
    url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.fade:not(.show) {
  opacity: 1;
}

.col-sm-12 {
  padding-top: 100px;
}

img {
  height: 100%;
  width: 100%;
}

#eachRow {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
}

/* .card-img {
  max
} */

.whole-card {
  width: 350px;
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 40px;
  padding: 10px 10px;
  box-shadow: 20px 20px 20px #aaa;
  border-radius: 5px;
  background: dodgerblue;
}

h5 {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 0.1em;
  word-spacing: 1px;
}

p {
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 2px;

  color: white;
  text-shadow: -1px -1px 3px #000, 2px 2px 2px #000;
}

.whole-card:hover {
  box-shadow: 20px 20px 20px #888;
}

.card {
  margin: 20px 20px;
}
.col-sm-2 {
  position: sticky;
  top: 0;
  height: 100vh;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  overflow: hidden;
  margin: 30px auto;
  width: 250px;
  height: 250px;
  border-radius: 40px;
  /* box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); */
  box-shadow: 10px 10px 5px black;
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -95px;
  height: 40px;
}

.card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 30px 30px 25px black;
  /* box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22); */
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.heartIcon {
  background-image: url("https://freeiconshop.com/wp-content/uploads/edd/star-curved-outline-filled.png");
  z-index: 57;
  top: 10px;
  right: 15px;
  width: 50px;
  height: 50px;
  position: absolute;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 10px;
}

/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/
